body {
			height: 100vh;
			box-sizing: border-box;
			margin: 0;
		}
		.demo {
			
			width: 100px;
			height: 100px;
			background-color: red;
			position: absolute;
			top: 0;
			left: 0;
			
		}
