  #xx {
            background-color: green;
            display: block;
        }

        body {
            margin: 0;
        }

        /*
        body {
          margin: 0;
          padding: 0;
        }

      .canvas {
        background-color: green;
        height: 100vh;
        position: relative;
      }
   */