
    body {
      text-align: center;
    }
    table {
      border-spacing: 0;
      margin: 100px auto; 
    }
    tr {
      height: 40px;
    }
    td {
      width: 80px;
      height: 40px;
      text-align: center;
    }
    input {
      width: 100px;
      height: 40px;
      border-radius: 10px;
      border: solid 1px #ddd;
      outline: none;
      color: green;
      font-weight: bold;
    }
