.conta {
			width: 340px;
			height: 320px;
			margin: 10px auto;
			padding-left: 10px;
			padding-top: 20px;
			border: 2px solid #ccc;
		}

		.cells {
			display: block;
			float: left;
			width: 80px;
			height: 80px;
			margin-left: 20px;
			margin-bottom: 20px;
			border: 2px solid #ccc;
			color: #777;
			text-decoration: none;
			font-size: 60px;
			line-height: 80px;
			text-align: center;
		}