* {margin: 0; 
   padding: 0;}
body { 
font-size: 12px; 
}
li { 
	list-style: none;
}
ul.nav li { 
	width: 200px; text-align:center;
}
ul.nav > li { 
	float: left; margin-right:10px;
}
ul.nav li h3 {
	height: 40px; line-height: 40px;
}
ul.nav > li > h3 { 
	background: #72a7ff;
}
ul.nav > li > ul > li h3 { 
	background: #ffd9d9; 
}
ul.nav > li h3:hover,.choice { 
	background: #ffc0c0!important;
}
ul > li > ul { 
	display: none;
}
ul > li.on > ul { 
	display: block;}
ul.nav li { 
	position: relative;
}
ul.nav > li > ul > li ul {
 position:  absolute; top: 0; right: -200px;
}
ul.nav span.sub { 
	position: absolute; 
	display: block; 
	right:10px; 
	top: 0; 
	width: 10px; 
	height: 40px; 
	background: url(images/arrows.png) no-repeat center center;
}

